.divLotto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* width: 100vw; */
}

.divp {
    
    
}

.d1, .d2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.sp0, .sp1, .sp2, .sp3, .sp4 {
    display: inline-flex;
    width: 50px;
    height: 50px;    
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-weight: 100;
}

.spp {
    color: black;
    font-size: x-large;
}
.sp0 {
    background-color:crimson;
}

.sp1 {
    background-color:chartreuse;
}

.sp2 {
    background-color: blueviolet;
}

.sp3 {
    background-color: cornflowerblue
}

.sp4 { background-color: #0000cc;

}

.bt {
    background-color: darkviolet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color:crimson;
}

.bt:hover {
    background-color:deeppink;
    cursor: pointer;
}